name: docker build

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  docker:
    runs-on: [self-hosted, Linux, X64] 
    steps:
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          tags: thearyadev/muze-test-build:latest
